* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

header > img {
    margin-top: 60px;
    width: 250px;
}

/* Nav */

.container > .main-nav {
   display: flex;
   justify-content: center;
}
    
.main-nav {
    margin-top: 60px;  

}

.main-nav a {
    text-decoration: none;
    padding: 30px;
    font-size: 1.5rem;
}

/* Card */

.food-pics{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    /* background: #fff; */
}

.card {
    background-color: #fff;
    box-shadow: 0px 2px 2px #ccc;
    border-radius: 8px;
    width: 300px;
    height: 320px;
    margin: 35px;
   
}

h1 {
  font-size: 1.5rem;
  text-align: left;
  padding: 15px 0 0 15px;
}

p {
    font-size: 1rem;
    padding: 5px 0 5px 15px;
    color: gray;
}

.card > .link-to-place {
    color: black;
    padding: 0 0 0 15px;
    font-size: .85rem;
    font-style: italic;
    text-decoration: none;
}

.food-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 75px;
}

/* .about-section {
 
} */

.about-section > h1 {
    margin: 35px;

}

.about-section > p {
    line-height: 30px;
    padding: 50px;
}